.next-button {
    right: 0;
    position: absolute !important;

}

.button-div {
    position: relative;
    height: 2rem;
    padding-top: 1rem;
}

.previous-button {
    left: 0;
    position: absolute !important;
}