.search-bar {
    margin-left: auto !important;
    color: black;
  }
  
  .search-bar-icon {
    color: black
  }
  
  .search-bar .MuiOutlinedInput-notchedOutline {
    border-color: black;
  }
  .white {
    color: white
  }
  
  #outlined-search {
    color: black
  }